* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Arial;
    font-size: 18px;
}

h1,
h2 {
    color: #13c513;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text {
    border: 1px solid red;
    text-align: justify;
    margin-bottom: 10px;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    /* margin: top right bottom left */
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    position: relative;
    border: 1px dotted rebeccapurple;
}

.blog-post img {
    height: 150px;
    width: auto;
    border: 1px solid orange;
}

.other-posts {
    width: 25%;
    float: left;
}


/* Stopped at 8:02 */

.author-box {
    border-top: 1px solid #0000009f;
    padding-top: 10px;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.other {
    margin-bottom: 25px;
}

.date {
    position: absolute;
    top: 15px;
    right: 10px;
}