body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: red;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #2ddd5c;
}